/SoundShapesServer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/SoundShapesServerTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/SoundShapesServer/bin/Debug/net7.0/dataStore/saves/00000000-0000-0000-0000-000000000001-save
/SoundShapesServer/obj/Debug/net7.0/apphost
/SoundShapesServer/bin/Debug/net7.0/AttribDoc.dll
/SoundShapesServerTests/bin/Debug/net7.0/AttribDoc.dll
/SoundShapesServer/bin/Debug/net7.0/BCrypt.Net-Next.dll
/SoundShapesServerTests/bin/Debug/net7.0/BCrypt.Net-Next.dll
/SoundShapesServer/bin/Debug/net7.0/BouncyCastle.Cryptography.dll
/SoundShapesServerTests/bin/Debug/net7.0/BouncyCastle.Cryptography.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.Analyzers.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.Analyzers.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.AutoDiscover.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.AutoDiscover.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.Core.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.Core.dll
/SoundShapesServer/bin/Debug/net7.0/bunkum.json
/SoundShapesServerTests/bin/Debug/net7.0/bunkum.json
/SoundShapesServer/bin/Debug/net7.0/Bunkum.Listener.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.Listener.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.ProfanityFilter.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.ProfanityFilter.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.Protocols.Http.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.Protocols.Http.dll
/SoundShapesServer/bin/Debug/net7.0/Bunkum.RealmDatabase.dll
/SoundShapesServerTests/bin/Debug/net7.0/Bunkum.RealmDatabase.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/_CodeSignature/CodeResources
/SoundShapesServer/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/_CodeSignature/CodeResources
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/_CodeSignature/CodeResources
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/_CodeSignature/CodeResources
/SoundShapesServerTests/bin/Debug/net7.0/CoverletSourceRootsMapping_SoundShapesServerTests
/SoundShapesServer/bin/Debug/net7.0/database.realm
/SoundShapesServer/bin/Debug/net7.0/database.realm.lock
/SoundShapesServer/bin/Debug/net7.0/EasyHotReload.dll
/SoundShapesServerTests/bin/Debug/net7.0/EasyHotReload.dll
/SoundShapesServer/FodyWeavers.xml
/SoundShapesServer/FodyWeavers.xsd
/SoundShapesServer/bin/Debug/net7.0/gameServer.json
/SoundShapesServer/bin/Debug/net7.0/HtmlAgilityPack.dll
/SoundShapesServerTests/bin/Debug/net7.0/HtmlAgilityPack.dll
/SoundShapesServer/bin/Debug/net7.0/HttpMultipartParser.dll
/SoundShapesServerTests/bin/Debug/net7.0/HttpMultipartParser.dll
/SoundShapesServer/bin/Debug/net7.0/ICSharpCode.SharpZipLib.dll
/SoundShapesServerTests/bin/Debug/net7.0/ICSharpCode.SharpZipLib.dll
/.idea/.idea.SoundShapesServer/.idea/indexLayout.xml
/SoundShapesServer/bin/Debug/net7.0/runtimes/ios/native/realm-wrappers.framework/Info.plist
/SoundShapesServer/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/Info.plist
/SoundShapesServer/bin/Debug/net7.0/runtimes/tvos/native/realm-wrappers.framework/Info.plist
/SoundShapesServer/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/Info.plist
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/ios/native/realm-wrappers.framework/Info.plist
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/Info.plist
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/tvos/native/realm-wrappers.framework/Info.plist
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/Info.plist
/SoundShapesServer/bin/Debug/net7.0/JetBrains.Annotations.dll
/SoundShapesServerTests/bin/Debug/net7.0/JetBrains.Annotations.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/osx/native/librealm-wrappers.dylib
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/osx/native/librealm-wrappers.dylib
/SoundShapesServer/bin/Debug/net7.0/runtimes/android-arm/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/android-arm64/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/android-x64/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/android-x86/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/linux-arm/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/linux-arm64/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/runtimes/linux-x64/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/android-arm/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/android-arm64/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/android-x64/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/android-x86/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/linux-arm/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/linux-arm64/native/librealm-wrappers.so
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/linux-x64/native/librealm-wrappers.so
/SoundShapesServer/bin/Debug/net7.0/Microsoft.IO.RecyclableMemoryStream.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.IO.RecyclableMemoryStream.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/SoundShapesServerTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/SoundShapesServerTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/SoundShapesServerTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/SoundShapesServerTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/SoundShapesServerTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServerTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/SoundShapesServer/bin/Debug/net7.0/MongoDB.Bson.dll
/SoundShapesServerTests/bin/Debug/net7.0/MongoDB.Bson.dll
/SoundShapesServer/bin/Debug/net7.0/Newtonsoft.Json.dll
/SoundShapesServerTests/bin/Debug/net7.0/Newtonsoft.Json.dll
/SoundShapesServer/bin/Debug/net7.0/NotEnoughLogs.dll
/SoundShapesServerTests/bin/Debug/net7.0/NotEnoughLogs.dll
/SoundShapesServer/bin/Debug/net7.0/NPTicket.dll
/SoundShapesServerTests/bin/Debug/net7.0/NPTicket.dll
/SoundShapesServer/bin/Debug/net7.0/dataStore/NPTICKJET
/SoundShapesServerTests/bin/Debug/net7.0/NuGet.Frameworks.dll
/SoundShapesServerTests/bin/Debug/net7.0/nunit.engine.api.dll
/SoundShapesServerTests/bin/Debug/net7.0/nunit.engine.core.dll
/SoundShapesServerTests/bin/Debug/net7.0/nunit.engine.dll
/SoundShapesServerTests/bin/Debug/net7.0/nunit.framework.dll
/SoundShapesServerTests/bin/Debug/net7.0/NUnit3.TestAdapter.dll
/SoundShapesServerTests/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
/SoundShapesServer/bin/Debug/net7.0/ProfanityFilter.dll
/SoundShapesServerTests/bin/Debug/net7.0/ProfanityFilter.dll
/SoundShapesServer/obj/project.assets.json
/SoundShapesServerTests/obj/project.assets.json
/SoundShapesServer/obj/project.nuget.cache
/SoundShapesServerTests/obj/project.nuget.cache
/SoundShapesServer/obj/project.packagespec.json
/SoundShapesServerTests/obj/project.packagespec.json
/.idea/.idea.SoundShapesServer/.idea/projectSettingsUpdater.xml
/SoundShapesServer/bin/Debug/net7.0/Realm.dll
/SoundShapesServerTests/bin/Debug/net7.0/Realm.dll
/SoundShapesServer/bin/Debug/net7.0/Realm.PlatformHelpers.dll
/SoundShapesServerTests/bin/Debug/net7.0/Realm.PlatformHelpers.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/ios/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServer/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServer/bin/Debug/net7.0/runtimes/tvos/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServer/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/ios/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/iossimulator/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/tvos/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/tvossimulator/native/realm-wrappers.framework/realm-wrappers
/SoundShapesServer/bin/Debug/net7.0/runtimes/win-arm64/native/realm-wrappers.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/win-x64/native/realm-wrappers.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/win-x86/native/realm-wrappers.dll
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/win-arm64/native/realm-wrappers.dll
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/win-x64/native/realm-wrappers.dll
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/win-x86/native/realm-wrappers.dll
/SoundShapesServer/bin/Debug/net7.0/runtimes/maccatalyst/native/realm-wrappers.framework.zip
/SoundShapesServerTests/bin/Debug/net7.0/runtimes/maccatalyst/native/realm-wrappers.framework.zip
/SoundShapesServer/bin/Debug/net7.0/Remotion.Linq.dll
/SoundShapesServerTests/bin/Debug/net7.0/Remotion.Linq.dll
/SoundShapesServer/obj/rider.project.model.nuget.info
/SoundShapesServerTests/obj/rider.project.model.nuget.info
/SoundShapesServer/obj/rider.project.restore.info
/SoundShapesServerTests/obj/rider.project.restore.info
/.idea/.idea.SoundShapesServer/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-21_02_15_[Changes]/shelved.patch
/SoundShapesServer/bin/Debug/net7.0/SoundShapesServer
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServer
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.AssemblyInfo.cs
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.AssemblyInfoInputs.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.assets.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.AssemblyReference.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.CopyComplete
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.CoreCompileInputs.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.FileListAbsolute.txt
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.Fody.CopyLocal.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.Fody.RuntimeCopyLocal.cache
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.dgspec.json
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.g.props
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.g.targets
/SoundShapesServer/bin/Debug/net7.0/SoundShapesServer.deps.json
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServer.deps.json
/SoundShapesServer/bin/Debug/net7.0/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/ref/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/refint/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.dll
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.GeneratedMSBuildEditorConfig.editorconfig
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.genruntimeconfig.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.GlobalUsings.g.cs
/SoundShapesServer/bin/Debug/net7.0/SoundShapesServer.pdb
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.pdb
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServer.pdb
/SoundShapesServer/bin/Debug/net7.0/SoundShapesServer.runtimeconfig.json
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServer.runtimeconfig.json
/SoundShapesServer.sln.DotSettings.user
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.AssemblyInfo.cs
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.AssemblyInfoInputs.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.assets.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.AssemblyReference.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.CopyComplete
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.CoreCompileInputs.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.FileListAbsolute.txt
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.dgspec.json
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.g.props
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.g.targets
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServerTests.deps.json
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/ref/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/refint/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.GeneratedMSBuildEditorConfig.editorconfig
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.genruntimeconfig.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.GlobalUsings.g.cs
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServerTests.pdb
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.pdb
/SoundShapesServerTests/bin/Debug/net7.0/SoundShapesServerTests.runtimeconfig.json
/SoundShapesServerTests/bin/Debug/net7.0/testcentric.engine.metadata.dll
/SoundShapesServerTests/bin/Debug/net7.0/testhost.dll
/.idea/.idea.SoundShapesServer/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-21_02_15__Changes_.xml
/.idea/.idea.SoundShapesServer/.idea/vcs.xml
/.idea/.idea.SoundShapesServer/.idea/workspace.xml
