/SoundShapesServer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/SoundShapesServerTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/SoundShapesServer/obj/Debug/net7.0/apphost
/SoundShapesServer/FodyWeavers.xml
/SoundShapesServer/FodyWeavers.xsd
/.idea/.idea.SoundShapesServer/.idea/indexLayout.xml
/SoundShapesServer/obj/project.assets.json
/SoundShapesServerTests/obj/project.assets.json
/SoundShapesServer/obj/project.nuget.cache
/SoundShapesServerTests/obj/project.nuget.cache
/SoundShapesServer/obj/project.packagespec.json
/SoundShapesServerTests/obj/project.packagespec.json
/.idea/.idea.SoundShapesServer/.idea/projectSettingsUpdater.xml
/SoundShapesServer/obj/rider.project.model.nuget.info
/SoundShapesServerTests/obj/rider.project.model.nuget.info
/SoundShapesServer/obj/rider.project.restore.info
/SoundShapesServerTests/obj/rider.project.restore.info
/.idea/.idea.SoundShapesServer/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-21_02_15_[Changes]/shelved.patch
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.AssemblyInfo.cs
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.AssemblyInfoInputs.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.assets.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.AssemblyReference.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.CopyComplete
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.CoreCompileInputs.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.FileListAbsolute.txt
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.Fody.CopyLocal.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.csproj.Fody.RuntimeCopyLocal.cache
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.dgspec.json
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.g.props
/SoundShapesServer/obj/SoundShapesServer.csproj.nuget.g.targets
/SoundShapesServer/obj/Debug/net7.0/ref/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/refint/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.dll
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.GeneratedMSBuildEditorConfig.editorconfig
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.genruntimeconfig.cache
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.GlobalUsings.g.cs
/SoundShapesServer/obj/Debug/net7.0/SoundShapesServer.pdb
/SoundShapesServer.sln.DotSettings.user
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.AssemblyInfo.cs
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.AssemblyInfoInputs.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.assets.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.AssemblyReference.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.CopyComplete
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.CoreCompileInputs.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.csproj.FileListAbsolute.txt
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.dgspec.json
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.g.props
/SoundShapesServerTests/obj/SoundShapesServerTests.csproj.nuget.g.targets
/SoundShapesServerTests/obj/Debug/net7.0/ref/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/refint/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.dll
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.GeneratedMSBuildEditorConfig.editorconfig
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.genruntimeconfig.cache
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.GlobalUsings.g.cs
/SoundShapesServerTests/obj/Debug/net7.0/SoundShapesServerTests.pdb
/.idea/.idea.SoundShapesServer/.idea/shelf/Uncommitted_changes_before_Update_at_2023-10-21_02_15__Changes_.xml
/.idea/.idea.SoundShapesServer/.idea/vcs.xml
/.idea/.idea.SoundShapesServer/.idea/workspace.xml
/SoundShapesServer/bin/
/SoundShapesServerTests/bin/
